body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}
.product {
    background:white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 15px;
    padding: 15px;
    text-align: center;
}
.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
.product p {
    margin: 5px 0;
    color: gray;
}
.product .price {
    font-weight: bold;
    color: rgb(228, 71, 71);
}